.content {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  .left {
    justify-content: center;
    flex-direction: column;
    // text-align: start;
    flex: 2;
    margin-left: 150px;
    h1 {
      text-align: start;
      padding: 15px;
      font-size: 18px;
      border-radius: 9px;
      text-decoration: underline;
    }
    form {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      margin-right: 550px;
      width: 100%;
      padding: 5px;
      border-radius: 9px;
      .input-item-2 {
        padding: 5px;
        display: flex;
        align-items: start;
        gap: 15px;
        position: relative;
        fonw .question {
          margin-top: 25px;
          &:hover {
            color: #343a40;
          }
          .hover-info {
            position: absolute;
            // transform: scale(1.1);
            width: 200px;
            left: 70%;
            margin: 15px;
            background-color: #ced4da;
            padding: 10px;
            border-radius: 5px;
            z-index: 1;
          }
        }
        .item {
          display: flex;
          align-items: start;
          flex-direction: column;
        }
        label {
          font-size: 18px;
          font-weight: 600px;
          color: gray;
        }
        input {
          border: none;
          outline: none;
          width: 520px;
          height: 30px;
          border-bottom: 1px solid #ced4da;
          background-color: #f5f5f5;
        }
      }
      .button-form {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-left: 400px;
        font-size: 18px;
        cursor: pointer;
        button {
          border: none;
          outline: none;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
  .right {
    flex: 1;
    flex-wrap: wrap;
    .card-info-order {
      display: flex;
      align-items: center;
      justify-content: start;
      text-align: start;
      flex-direction: column;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      .under-title {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      h1 {
        text-align: center;
        text-decoration: underline;
      }
      .list-info {
        border-radius: 4px;
        .list-col-orders {
          display: flex;
          align-items: center;
          max-height: 105px;
          width: auto;
          gap: 5px;
          background-color: #f8f9fa;
          border-radius: 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          margin: 20px;
          cursor: pointer;
          &:hover {
            background-color: #dee2e6;
          }
          .image {
            padding: 5px;
            img {
              width: 50px;
              height: 50px;
              border-radius: 5px;
            }
          }
          .title-list {
            .QTe-price {
              display: flex;
              align-items: center;
              gap: 15px;
            }
          }
        }
      }

      .card-bottom {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        padding: 15px;
        .card-icon {
          display: flex;
          align-items: center;
          background-color: #ced4da;
          border-radius: 15px;
          gap: 10px;
        }
        .info-card-payment {
          .shipp {
            padding: 10px;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
.bottom {
}
