@import "../../../style/responsive.scss";

.product {
  padding: 20px 30px;
  display: flex;
  gap: 50px;
  @include s {
    padding: 10px;
    max-width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    .right h1,
    span {
      font-size: 14px;
      text-align: center;
    }
    .right .brand span {
      font-size: 14px;
      display: flex;
      margin-left: 25px;
      text-align: center;
    }
    .right .add-cart-dec button,
    span,
    .btn-add {
      font-size: 10px;
      font-weight: 200px;
      max-height: 40px;
      // max-width: 100px;
      align-items: center;
      padding: 0px;
    }
  }
  @include md {
    flex-direction: column;
  }
  @include sm {
  }
  @include md {
  }
  @include lg {
  }
  @include xl {
  }
  @include xxl {
    margin-top: 100px;
  }
  .left {
    display: flex;
    flex: 2;
    gap: 20px;
    @include xl {
      flex-direction: column;
    }
    @include md {
      flex: auto;
    }
    .images {
      flex: 1;

      @include s {
        align-items: center;
        justify-content: center;
        margin-left: 100px;
      }
      img {
        width: 100%;
        max-width: 150px;
        height: 150px;
        object-fit: cover;
        cursor: pointer;
        @include s {
          height: 50px;
        }
        @include xl {
          width: 50px;
        }
        @include sm {
          width: 50px;
          padding: 5px;
        }
      }
    }
    .main-img {
      flex: 5;
      @include xl {
        min-width: 400px;
        margin-left: -100px;
      }

      img {
        width: 100%;
        max-height: 800px;
        object-fit: cover;
        @include s {
          max-width: 300px;
          margin-left: 100px;
        }
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
    @include md {
      flex: auto;
    }
    h1 {
      font-size: 20px;
      font-weight: bolder;
    }
    .item {
      color: black;
      font-size: 16px;
    }

    .item-price {
      color: #a7c957;
      font-size: 23px;
      font-weight: bolder;
    }
    span {
      font-size: 18px;
      font-weight: 500px;
      color: #6c757d;
    }

    .add-cart-dec {
      display: flex;
      align-items: center;
      text-align: center;
      gap: 10px;
      @include s {
        font-size: 12px;
        padding: 12px;
      }
      span {
        font-size: 18px;
        font-weight: bold;
      }
      button {
        background-color: #a7c957;
        outline: 1px solid #6c757d;
        outline: none;
        border: none;
        padding: 15px;
        border-radius: 85px;
        width: 50px;
        font-weight: bold;
        font-size: 20px;
      }
      .btn-add {
        background-color: #a7c957;
        outline: 1px solid #6c757d;
        outline: none;
        border: none;
        font-weight: bold;
        padding: 15px;
        font-size: 18px;
        width: 100%;
        max-width: 200px;
        border-radius: 5px;
        @include s {
          font-size: 12px;
          padding: 12px;
        }
      }
    }
    .add-cart {
      display: flex;
      button {
        background-color: #a7c957;
        outline: 1px solid #6c757d;
        outline: none;
        border: none;
        font-weight: bold;
        padding: 15px;
        font-size: 18px;
        width: 350px;
        border-radius: 5px;
      }
    }
  }
}
.bottom {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin: 45px;
  margin-right: 35px;
  .divier {
    height: 5px;
    width: 100%;
    background-color: #a7c957;
  }
  .row-recommended {
    display: flex;
    align-items: center;
    h2 {
      font-size: 28px;
      font-weight: bold;
      margin: 25px;
      height: 50px;
      text-align: center;
      height: 50px;
      padding: 10px;
    }
  }
  .card {
    background-color: #f2f2f2;
    h2 {
      font-size: 18px;
    }
    p {
    }
    ul {
      li {
        font-size: 17px;
        font-weight: bold;
      }
    }
  }
  .similar {
    display: flex;
    width: 100%;
    overflow-y: auto;
    align-items: center;
    margin-left: 220px;
  }
}
