@import "../../../style/responsive.scss";

.forget-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
  height: 70vh;
  @include sm {
  }
  @include md {
    span {
      display: none;
    }
  }

  @include lg {
  }

  @include xl {
  }

  @include xxl {
    margin-top: 50px;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 450px;
    padding: 50px;
    // background: url("../../../assets/waves/waveGER.png");
    border-radius: 15px;
    gap: 15px;
    .input-item {
      label {
        font-size: 18px;
      }
      input {
        border: 1px solid rgba(107, 77, 77, 0.25);
        outline: none;
        border-radius: 10px;
        width: 100%;
        padding: 10px;
        background-color: #ced4da;
        font-size: 1em;
        :focus {
          border: 2px solid #a8dadc;
          transition: all 0.5s ease;
        }
      }
    }
    .btn {
      button {
        width: 220px;
        border-radius: 5px;
        height: 35px;
        border: none;
        outline: none;
        font-weight: bold;
        font-size: 18px;
        background-color: rgba(62, 243, 90, 1);
      }
    }
  }
}
