.client-list {
  height: 600px;

  span {
    padding: 5px;
    border-radius: 5px;
    &.notverified {
      background-color: rgba(202, 202, 202, 0.05);
      color: rgb(218, 32, 32);
    }
    &.verified {
      background-color: rgba(202, 202, 202, 0.05);
      color: green;
    }
  }
  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;
    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted darkblue;
      cursor: pointer;
    }
    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted crimson;
      cursor: pointer;
    }
    .status-btn {
      padding: 2px 5px;
      border-radius: 5px;
      color: gray;
      border: 1px dotted gray;
      cursor: not-allowed;
    }
    .Acceptd-btn {
      padding: 2px 5px;
      border-radius: 5px;
      color: #27a300;
      border: 1px solid #27a300;
      cursor: not-allowed;
    }
    .req-btn {
      padding: 2px 5px;
      border-radius: 5px;
      color: #ffbd00;
      border: 1px dotted #ffbd00;
      cursor: pointer;
    }
  }
}
