.form-society {
    height: 100vh;
  .modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    gap: 15px;
  }
}
