.item-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 250px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 15px;
  position: relative;
  gap: 5px;
  .btn-item {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: -1;
    color: #f8f9fa;
  }
  &:hover {
    .btn-item {
      gap: 55px;
      z-index: 1;
      .item-butn {
        background-color: #a7c957;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          transform: scale(1.03);
          transition: all 0.3s ease;
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }

  .top-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: 150px;
    }
    h1 {
      font-size: 15px;
      text-align: justify;
    }
  }
  .item-added {
    display: flex;
    align-items: center;
    gap: 15px;
    .item-incresse {
      display: flex;
      gap: 15px;
      align-items: center;
      text-align: center;
      button {
        border: none;
        background-color: #a7c957;
        font-weight: bold;
        padding: 10px;
        border-radius: 3px;
        font-size: 16px;
      }
      span {
        font-size: 16px;
        font-weight: bold;
      }
    }
    .delet-item {
      color: #f8f9fa;
      background-color: #a7c957;
      padding: 5px;
      border-radius: 50%;
    }
  }
}
