@import "../../../style/responsive.scss";

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
.Register {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
  @include sm {
    padding: 150px;
  }
  @include md {
    padding: 150px;
  }
  @include lg {
    padding: 150px;
  }
  @include xl {
    padding: 150px;
  }
  @include xxl {
    padding: 150px;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e9ecef;
    max-height: 750px;
    height: 100%;
    width: 550px;
    padding: 50px;
    // background: url("../../../assets/waves/banner1.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    border-radius: 15px;
    gap: 15px;
    .society-form {
      width: 450px;
      height: 100%;
      max-height: 600px;
      border-radius: 10px;
      background-color: #adb5bd;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      .inputitem {
        display: flex;
        flex-direction: column;
        input {
          height: 20px;
        }
      }
    }
    h1 {
      letter-spacing: 5px;
      font-size: 55px;
      @include sm {
        font-size: 30px;
      }
    }
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      input {
        border: 1px solid rgba(107, 77, 77, 0.25);
        outline: none;
        border-radius: 10px;
        width: 100%;
        padding: 10px;
        background-color: #ced4da;
        font-size: 1em;
      }

      span {
        position: absolute;
        left: 0;
        padding: 10px;
        pointer-events: none;
        font-size: 1em;
        text-transform: uppercase;
      }
    }
    .input-list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 25px;
      .doub-input-item {
        display: flex;
        max-width: 200px;
        justify-content: space-between;
        width: 100%;
        .inputitem {
          width: 50px;
          &.type-file {
            width: 150px;
          }
        }
        // gap: 15px;
      }
      .inputitem {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        position: relative;
        gap: 15px;
        @include sm {
          align-items: center;
        }
        input {
          border: 1px solid rgba(107, 77, 77, 0.25);
          outline: none;
          border-radius: 10px;
          width: 100%;
          padding: 10px;
          background-color: #ced4da;
          font-size: 1em;
          @include sm {
            max-width: 200px;
          }
        }
        span {
          position: absolute;
          left: 0;
          padding: 10px;
          pointer-events: none;
          font-size: 1em;
          text-transform: uppercase;
        }
      }
    }
    .inputitemCheckbox {
      display: flex;
      align-items: start;
      text-align: center;
      gap: 2px;
      margin-right: 65px;
    }
    .or {
      width: 430px;
      height: 2px;
      text-align: center;
      font-weight: bold;
      position: relative;
      .center {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -10px;
        margin-left: 189px;
        padding: 0 10px 0px 10px;
      }
    }
    .radio {
      display: flex;
      justify-content: center;
      align-items: center;
      .itemradio {
        display: flex;
        align-items: center;
        padding: 10px;
        input {
          margin-right: 10px;
        }
      }
    }

    button {
      border: none;
      outline: none;
      height: 50px;
      width: 240px;
      border-radius: 5px;
      background-color: #adb5bd;
      font-weight: bold;
      font-size: 18px;
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 6px #9ef01a;
      }
      &:active {
        background: #70e000;
      }
    }
    .navgationto {
      font-size: 15px;
      font-weight: bold;
      text-align: justify;
      color: rgb(0, 0, 0);
      @include sm {
        max-width: 200px;
      }
      .linkpage {
        color: #3f612d;
      }
    }
  }
}
