.GridLayoutFilter {
  .wrapper-grid {
    display: flex;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 40px;
    .left {
      display: flex;
      flex: 1;
      transition: all 0.5s ease;
      .item-left {
        display: flex;
        width: 100%;
        height: fit-content;
        position: relative;
        transition: all 0.5s ease;
        img {
          height: 500px;
          width: 100%;
          object-fit: cover;
          border-radius: 15px;
        }
        &:hover {
          .hover-effect {
            z-index: 1;
            opacity: 100%;
            transition: all 0.5s ease;
          }
        }
        .hover-effect {
          position: absolute;
          z-index: -1;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 15px;
          opacity: 0;
          transition: all 0.5s ease;
          h1 {
            text-align: center;
            color: #f2f2f2;
          }
        }
      }
    }
    .right {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 15px;
      .row-1 {
        display: flex;
        position: relative;
        transition: all 0.6s ease-in;
        .image {
          height: 100%;
          width: 100%;
          position: relative;
          img {
            height: 150px;
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
          }
        }

        &:hover {
          .hover-effect {
            z-index: 1;
            opacity: 100%;
            transition: all 0.6s ease-in;
          }
        }
        .hover-effect {
          position: absolute;
          z-index: -1;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 15px;
          opacity: 0;
          transition: all 0.5s ease;
          h1 {
            text-align: center;
            color: #f2f2f2;
          }
        }
      }
    }
  }
}
