.order {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center;
  width: fit-content;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .title {
      font-size: 20px;
    }
    .divier {
      height: 2px;
      width: 100%;
      background-color: rgb(128, 125, 122);
    }
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      padding: 50px;
      top: 0;
      // gap: 175px;
      max-width: 500px;
      position: relative;
      .line-onprogress {
        height: 5px;
        width: 500px; /* Set initial width to 0 */
        position: absolute;
        background-color: gray; /* Initial background color */
        transition: width 0.2s, background-color 0.5s;
      }
      .line-onprogress-base {
        height: 5px;
        width: 0%; /* Set initial width to 0 */
        position: absolute;
        background-color: #007bff; /* Initial background color */
        transition: width 0.3s, background-color 0.5s;
        z-index: 1;
      }
      .circel {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        background-color: #007bff;
        transition: all 0.3s ease;
        border-radius: 45px;
        text-align: center;
        z-index: 1000;
        color: #f5f5f5;
        cursor: pointer;
      }
    }
  }
}
