@import "../../../style/responsive.scss";

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
  @include sm {
    padding: 150px;
  }
  @include md {
    padding: 150px;
  }
  @include lg {
    padding: 150px;
  }
  @include xl {
    padding: 150px;
  }
  @include xxl {
    padding: 150px;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 550px;
    padding: 50px;
    background-color: #e9ecef;
    // background: url("../../../assets/wave\ \(2\).png");
    background-repeat: no-repeat;
    border-radius: 15px;
    gap: 15px;
    h1 {
      letter-spacing: 5px;
      font-size: 55px;
    }
    .input-list {
      display: flex;
      flex-direction: column;
      gap: 25px;
      .inputitem {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        position: relative;
        width: 280px;
        gap: 15px;
        input {
          border: 1px solid rgba(107, 77, 77, 0.25);
          outline: none;
          border-radius: 10px;
          width: 100%;
          padding: 10px;
          background-color: #ced4da;
          font-size: 1em;
        }

        span {
          position: absolute;
          left: 0;
          padding: 10px;
          pointer-events: none;
          font-size: 1em;
          text-transform: uppercase;
        }
      }
    }
    .toggle-show {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 10px;
      font-size: 14px;
    }
    button {
      border: none;
      outline: none;
      height: 40px;
      width: 280px;
      border-radius: 5px;
      background-color: #adb5bd;
      font-weight: bold;
      font-size: 18px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      cursor: pointer;
    }
  }
  .input-links {
    display: flex;
    font-weight: bold;
  }
  .google-btn {
    width: 184px;
    height: 42px;
    background-color: $google-blue;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    width: 51%;
    cursor: pointer;
    .google-icon-wrapper {
      position: absolute;
      margin-top: 1px;
      margin-left: 1px;
      width: 40px;
      height: 40px;
      border-radius: 2px;
      background-color: $white;
    }
    .google-icon {
      position: absolute;
      margin-top: 11px;
      margin-left: 11px;
      width: 18px;
      height: 18px;
    }
    .btn-text {
      float: right;
      margin: 11px 11px 0 0;
      color: $white;
      font-size: 14px;
      letter-spacing: 0.2px;
    }
    &:hover {
      box-shadow: 0 0 6px $google-blue;
    }
    &:active {
      background: $button-active-blue;
    }
  }
}
