@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand:wght@438&display=swap");

.App {
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
  

}
